modules/hl7/resources/hl7v3_2009/COCT_MT960000UV05.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT960000UV05.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: COCT_MT960000UV05.xsd,v 1.2 2010/08/04 14:43:37 a184825 Exp $
*     Package Id Conversion: $Id: COCT_MT960000UV05.xsd,v 1.2 2010/08/04 14:43:37 a184825 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT090108UV.xsd"/>
   <xs:include schemaLocation="COCT_MT090303UV01.xsd"/>
   <xs:complexType name="COCT_MT960000UV05.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090108UV.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
      <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="1" name="positionCoordinate" nillable="true" type="COCT_MT960000UV05.PositionCoordinate"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="positionAccuracy" nillable="true" type="COCT_MT960000UV05.PositionAccuracy"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.Device1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090303UV01.AssignedDevice"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.Device2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090303UV01.AssignedDevice"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.Position">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="activityTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="value" type="ST"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT960000UV05.Device2"/>
         <xs:element maxOccurs="1" minOccurs="0" name="author" nillable="true" type="COCT_MT960000UV05.Author"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="component1" nillable="true" type="COCT_MT960000UV05.Component1"/>
         <xs:element maxOccurs="1" minOccurs="0" name="component2" nillable="true" type="COCT_MT960000UV05.Component2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassPosition" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.PositionAccuracy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="value" type="CE"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPositionAccuracy" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT960000UV05.PositionCoordinate">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="1" name="value" type="ANY"/>
         <xs:element maxOccurs="1" minOccurs="0" name="methodCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT960000UV05.Device1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPositionCoordinate" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
</xs:schema>
