modules/hl7/resources/hl7v3_2009/PRPA_MT201304UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT201304UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: PRPA_MT201304UV02.xsd,v 1.2 2010/08/04 14:43:37 a184825 Exp $
*     Package Id Conversion: $Id: PRPA_MT201304UV02.xsd,v 1.2 2010/08/04 14:43:37 a184825 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT820000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT510000UV06.xsd"/>
   <xs:complexType name="PRPA_MT201304UV02.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="politicalNation" type="PRPA_MT201304UV02.Nation"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassCitizen" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.CoveredParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="coverageRecord" nillable="true" type="COCT_MT510000UV06.CoverageRecord"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationCoverageTarget" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Employee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="employerOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Group">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="group" nillable="true" type="PRPA_MT201304UV02.Group"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Nation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="name" type="ON"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassNation" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201304UV02.PatientOfOtherProvider"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="PRPA_MT201304UV02.Member"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="PRPA_MT201304UV02.OtherIDs"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="scopingOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="veryImportantPersonCode" type="CE"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="patientPerson" nillable="true" type="PRPA_MT201304UV02.Person"/>
            <xs:element maxOccurs="1" minOccurs="1" name="patientNonPersonLivingSubject" nillable="true" type="PRPA_MT201304UV02.NonPersonLivingSubject"/>
         </xs:choice>
         <xs:element maxOccurs="1" minOccurs="0" name="providerOrganization" nillable="true" type="COCT_MT150003UV03.Organization"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="coveredPartyOf" nillable="true" type="PRPA_MT201304UV02.CoveredParty"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.PatientOfOtherProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="subjectOf" type="PRPA_MT201304UV02.Subject"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="name" type="PN"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201304UV02.PatientOfOtherProvider"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asEmployee" nillable="true" type="PRPA_MT201304UV02.Employee"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asCitizen" nillable="true" type="PRPA_MT201304UV02.Citizen"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asStudent" nillable="true" type="PRPA_MT201304UV02.Student"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="PRPA_MT201304UV02.Member"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="PRPA_MT201304UV02.OtherIDs"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="schoolOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassStudent" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201304UV02.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="careProvision" type="COCT_MT820000UV.CareProvision"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
</xs:schema>
