modules/cda/resources/TestClasses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="datatypes.xsd"/>
  <xs:include schemaLocation="voc.xsd"/>
  <xs:element name="AD" type="AD"/>
  <xs:element name="ADXP" type="ADXP"/>
  <xs:element name="ANY" type="ANY"/>
  <xs:element name="ANYNonNull" type="ANYNonNull"/>
  <xs:element name="BIN" type="BIN"/>
  <xs:element name="BL" type="BL"/>
  <xs:element name="BN" type="BN"/>
  <xs:element name="CD" type="CD"/>
  <xs:element name="CE" type="CE"/>
  <xs:element name="CO" type="CO"/>
  <xs:element name="CR" type="CR"/>
  <xs:element name="CS" type="CS"/>
  <xs:element name="CV" type="CV"/>
  <xs:element name="ED" type="ED"/>
  <xs:element name="EIVL.event" type="EIVL.event"/>
  <xs:element name="EN" type="EN"/>
  <xs:element name="ENXP" type="ENXP"/>
  <xs:element name="II" type="II"/>
  <xs:element name="INT" type="INT"/>
  <xs:element name="IVL_TS" type="IVL_TS"/>
  <xs:element name="IVXB_TS" type="IVXB_TS"/>
  <xs:element name="MO" type="MO"/>
  <xs:element name="ON" type="ON"/>
  <xs:element name="PN" type="PN"/>
  <xs:element name="PQ" type="PQ"/>
  <xs:element name="PQR" type="PQR"/>
  <xs:element name="QTY" type="QTY"/>
  <xs:element name="REAL" type="REAL"/>
  <xs:element name="RTO" type="RTO"/>
  <xs:element name="RTO_QTY_QTY" type="RTO_QTY_QTY"/>
  <xs:element name="SC" type="SC"/>
  <xs:element name="ST" type="ST"/>
  <xs:element name="SXCM_TS" type="SXCM_TS"/>
  <xs:element name="TEL" type="TEL"/>
  <xs:element name="TN" type="TN"/>
  <xs:element name="TS" type="TS"/>
  <xs:element name="URL" type="URL"/>
  <xs:element name="adxp.additionalLocator" type="adxp.additionalLocator"/>
  <xs:element name="adxp.buildingNumberSuffix" type="adxp.buildingNumberSuffix"/>
  <xs:element name="adxp.careOf" type="adxp.careOf"/>
  <xs:element name="adxp.censusTract" type="adxp.censusTract"/>
  <xs:element name="adxp.city" type="adxp.city"/>
  <xs:element name="adxp.country" type="adxp.country"/>
  <xs:element name="adxp.county" type="adxp.county"/>
  <xs:element name="adxp.delimiter" type="adxp.delimiter"/>
  <xs:element name="adxp.deliveryAddressLine" type="adxp.deliveryAddressLine"/>
  <xs:element name="adxp.deliveryInstallationArea" type="adxp.deliveryInstallationArea"/>
  <xs:element name="adxp.deliveryInstallationQualifier" type="adxp.deliveryInstallationQualifier"/>
  <xs:element name="adxp.deliveryInstallationType" type="adxp.deliveryInstallationType"/>
  <xs:element name="adxp.deliveryMode" type="adxp.deliveryMode"/>
  <xs:element name="adxp.deliveryModeIdentifier" type="adxp.deliveryModeIdentifier"/>
  <xs:element name="adxp.direction" type="adxp.direction"/>
  <xs:element name="adxp.houseNumber" type="adxp.houseNumber"/>
  <xs:element name="adxp.houseNumberNumeric" type="adxp.houseNumberNumeric"/>
  <xs:element name="adxp.postBox" type="adxp.postBox"/>
  <xs:element name="adxp.postalCode" type="adxp.postalCode"/>
  <xs:element name="adxp.precinct" type="adxp.precinct"/>
  <xs:element name="adxp.state" type="adxp.state"/>
  <xs:element name="adxp.streetAddressLine" type="adxp.streetAddressLine"/>
  <xs:element name="adxp.streetName" type="adxp.streetName"/>
  <xs:element name="adxp.streetNameBase" type="adxp.streetNameBase"/>
  <xs:element name="adxp.streetNameType" type="adxp.streetNameType"/>
  <xs:element name="adxp.unitID" type="adxp.unitID"/>
  <xs:element name="adxp.unitType" type="adxp.unitType"/>
  <xs:element name="BinaryDataEncoding" type="BinaryDataEncoding"/>
  <xs:element name="bin" type="bin"/>
  <xs:element name="bl" type="bl"/>
  <xs:element name="bn" type="bn"/>
  <xs:element name="cs" type="cs"/>
  <xs:element name="int" type="int"/>
  <xs:element name="oid" type="oid"/>
  <xs:element name="probability" type="probability"/>
  <xs:element name="real" type="real"/>
  <xs:element name="ruid" type="ruid"/>
  <xs:element name="st" type="st"/>
  <xs:element name="ts" type="ts"/>
  <xs:element name="uid" type="uid"/>
  <xs:element name="url" type="url"/>
  <xs:element name="uuid" type="uuid"/>
  <xs:element name="en.delimiter" type="en.delimiter"/>
  <xs:element name="en.family" type="en.family"/>
  <xs:element name="en.given" type="en.given"/>
  <xs:element name="en.prefix" type="en.prefix"/>
  <xs:element name="en.suffix" type="en.suffix"/>
  <xs:element name="set_EntityNamePartQualifier" type="set_EntityNamePartQualifier"/>
  <xs:element name="set_EntityNameUse" type="set_EntityNameUse"/>
  <xs:element name="set_PostalAddressUse" type="set_PostalAddressUse"/>
  <xs:element name="set_TelecommunicationAddressUse" type="set_TelecommunicationAddressUse"/>
  <xs:element name="thumbnail" type="thumbnail"/>
  <xs:element name="BXIT_CD" type="BXIT_CD"/>
  <xs:element name="BXIT_IVL_PQ" type="BXIT_IVL_PQ"/>
  <xs:element name="EIVL_PPD_TS" type="EIVL_PPD_TS"/>
  <xs:element name="EIVL_TS" type="EIVL_TS"/>
  <xs:element name="GLIST_PQ" type="GLIST_PQ"/>
  <xs:element name="GLIST_TS" type="GLIST_TS"/>
  <xs:element name="HXIT_CE" type="HXIT_CE"/>
  <xs:element name="HXIT_PQ" type="HXIT_PQ"/>
  <xs:element name="IVL_INT" type="IVL_INT"/>
  <xs:element name="IVL_MO" type="IVL_MO"/>
  <xs:element name="IVL_PPD_PQ" type="IVL_PPD_PQ"/>
  <xs:element name="IVL_PPD_TS" type="IVL_PPD_TS"/>
  <xs:element name="IVL_PQ" type="IVL_PQ"/>
  <xs:element name="IVL_REAL" type="IVL_REAL"/>
  <xs:element name="IVXB_INT" type="IVXB_INT"/>
  <xs:element name="IVXB_MO" type="IVXB_MO"/>
  <xs:element name="IVXB_PPD_PQ" type="IVXB_PPD_PQ"/>
  <xs:element name="IVXB_PPD_TS" type="IVXB_PPD_TS"/>
  <xs:element name="IVXB_PQ" type="IVXB_PQ"/>
  <xs:element name="IVXB_REAL" type="IVXB_REAL"/>
  <xs:element name="PIVL_PPD_TS" type="PIVL_PPD_TS"/>
  <xs:element name="PIVL_TS" type="PIVL_TS"/>
  <xs:element name="PPD_PQ" type="PPD_PQ"/>
  <xs:element name="PPD_TS" type="PPD_TS"/>
  <xs:element name="SLIST_PQ" type="SLIST_PQ"/>
  <xs:element name="SLIST_TS" type="SLIST_TS"/>
  <xs:element name="SXCM_CD" type="SXCM_CD"/>
  <xs:element name="SXCM_INT" type="SXCM_INT"/>
  <xs:element name="SXCM_MO" type="SXCM_MO"/>
  <xs:element name="SXCM_PPD_PQ" type="SXCM_PPD_PQ"/>
  <xs:element name="SXCM_PPD_TS" type="SXCM_PPD_TS"/>
  <xs:element name="SXCM_PQ" type="SXCM_PQ"/>
  <xs:element name="SXCM_REAL" type="SXCM_REAL"/>
  <xs:element name="SXPR_TS" type="SXPR_TS"/>
  <xs:element name="UVP_TS" type="UVP_TS"/>
  <xs:element name="list_int" type="list_int"/>
  <xs:element name="ActClass" type="ActClass"/>
  <xs:element name="ActClassComposition" type="ActClassComposition"/>
  <xs:element name="ActClassCondition" type="ActClassCondition"/>
  <xs:element name="ActClassContract" type="ActClassContract"/>
  <xs:element name="ActClassControlAct" type="ActClassControlAct"/>
  <xs:element name="ActClassDocument" type="ActClassDocument"/>
  <xs:element name="ActClassEntry" type="ActClassEntry"/>
  <xs:element name="ActClassExtract" type="ActClassExtract"/>
  <xs:element name="ActClassFinancialContract" type="ActClassFinancialContract"/>
  <xs:element name="ActClassObservation" type="ActClassObservation"/>
  <xs:element name="ActClassObservationSeries" type="ActClassObservationSeries"/>
  <xs:element name="ActClassOrganizer" type="ActClassOrganizer"/>
  <xs:element name="ActClassPublicHealthCase" type="ActClassPublicHealthCase"/>
  <xs:element name="ActClassROI" type="ActClassROI"/>
  <xs:element name="ActClassRoot" type="ActClassRoot"/>
  <xs:element name="ActClassSupply" type="ActClassSupply"/>
  <xs:element name="ActClinicalDocument" type="ActClinicalDocument"/>
  <xs:element name="ActContainer" type="ActContainer"/>
  <xs:element name="ActMood" type="ActMood"/>
  <xs:element name="ActMoodCompletionTrack" type="ActMoodCompletionTrack"/>
  <xs:element name="ActMoodIntent" type="ActMoodIntent"/>
  <xs:element name="ActMoodPredicate" type="ActMoodPredicate"/>
  <xs:element name="ActRelationshipAccounting" type="ActRelationshipAccounting"/>
  <xs:element name="ActRelationshipConditional" type="ActRelationshipConditional"/>
  <xs:element name="ActRelationshipCostTracking" type="ActRelationshipCostTracking"/>
  <xs:element name="ActRelationshipExcerpt" type="ActRelationshipExcerpt"/>
  <xs:element name="ActRelationshipFulfills" type="ActRelationshipFulfills"/>
  <xs:element name="ActRelationshipHasComponent" type="ActRelationshipHasComponent"/>
  <xs:element name="ActRelationshipObjective" type="ActRelationshipObjective"/>
  <xs:element name="ActRelationshipOutcome" type="ActRelationshipOutcome"/>
  <xs:element name="ActRelationshipPertains" type="ActRelationshipPertains"/>
  <xs:element name="ActRelationshipPosting" type="ActRelationshipPosting"/>
  <xs:element name="ActRelationshipReason" type="ActRelationshipReason"/>
  <xs:element name="ActRelationshipReplacement" type="ActRelationshipReplacement"/>
  <xs:element name="ActRelationshipSequel" type="ActRelationshipSequel"/>
  <xs:element name="ActRelationshipType" type="ActRelationshipType"/>
  <xs:element name="AdditionalLocator" type="AdditionalLocator"/>
  <xs:element name="AddressPartType" type="AddressPartType"/>
  <xs:element name="AddressUse" type="AddressUse"/>
  <xs:element name="ApplicationMediaType" type="ApplicationMediaType"/>
  <xs:element name="AskedButUnknown" type="AskedButUnknown"/>
  <xs:element name="AudioMediaType" type="AudioMediaType"/>
  <xs:element name="BuildingNumber" type="BuildingNumber"/>
  <xs:element name="CalendarCycle" type="CalendarCycle"/>
  <xs:element name="CalendarCycleOneLetter" type="CalendarCycleOneLetter"/>
  <xs:element name="CalendarCycleTwoLetter" type="CalendarCycleTwoLetter"/>
  <xs:element name="Classes" type="Classes"/>
  <xs:element name="CommunicationFunctionType" type="CommunicationFunctionType"/>
  <xs:element name="CompressionAlgorithm" type="CompressionAlgorithm"/>
  <xs:element name="ContextControl" type="ContextControl"/>
  <xs:element name="ContextControlAdditive" type="ContextControlAdditive"/>
  <xs:element name="ContextControlNonPropagating" type="ContextControlNonPropagating"/>
  <xs:element name="ContextControlOverriding" type="ContextControlOverriding"/>
  <xs:element name="ContextControlPropagating" type="ContextControlPropagating"/>
  <xs:element name="Currency" type="Currency"/>
  <xs:element name="DeliveryAddressLine" type="DeliveryAddressLine"/>
  <xs:element name="EntityClass" type="EntityClass"/>
  <xs:element name="EntityClassContainer" type="EntityClassContainer"/>
  <xs:element name="EntityClassDevice" type="EntityClassDevice"/>
  <xs:element name="EntityClassLivingSubject" type="EntityClassLivingSubject"/>
  <xs:element name="EntityClassManufacturedMaterial" type="EntityClassManufacturedMaterial"/>
  <xs:element name="EntityClassMaterial" type="EntityClassMaterial"/>
  <xs:element name="EntityClassNonPersonLivingSubject" type="EntityClassNonPersonLivingSubject"/>
  <xs:element name="EntityClassOrganization" type="EntityClassOrganization"/>
  <xs:element name="EntityClassPlace" type="EntityClassPlace"/>
  <xs:element name="EntityClassRoot" type="EntityClassRoot"/>
  <xs:element name="EntityDeterminer" type="EntityDeterminer"/>
  <xs:element name="EntityDeterminerDetermined" type="EntityDeterminerDetermined"/>
  <xs:element name="EntityNamePartQualifier" type="EntityNamePartQualifier"/>
  <xs:element name="EntityNamePartType" type="EntityNamePartType"/>
  <xs:element name="EntityNameSearchUse" type="EntityNameSearchUse"/>
  <xs:element name="EntityNameUse" type="EntityNameUse"/>
  <xs:element name="GregorianCalendarCycle" type="GregorianCalendarCycle"/>
  <xs:element name="HomeAddressUse" type="HomeAddressUse"/>
  <xs:element name="ImageMediaType" type="ImageMediaType"/>
  <xs:element name="IntegrityCheckAlgorithm" type="IntegrityCheckAlgorithm"/>
  <xs:element name="LicensedEntityRole" type="LicensedEntityRole"/>
  <xs:element name="MediaType" type="MediaType"/>
  <xs:element name="ModelMediaType" type="ModelMediaType"/>
  <xs:element name="MultipartMediaType" type="MultipartMediaType"/>
  <xs:element name="NamePseudonymUse" type="NamePseudonymUse"/>
  <xs:element name="NameRepresentationUse" type="NameRepresentationUse"/>
  <xs:element name="NoInformation" type="NoInformation"/>
  <xs:element name="NullFlavor" type="NullFlavor"/>
  <xs:element name="OrganizationNamePartQualifier" type="OrganizationNamePartQualifier"/>
  <xs:element name="OrganizationNameUse" type="OrganizationNameUse"/>
  <xs:element name="Other" type="Other"/>
  <xs:element name="ParticipationAncillary" type="ParticipationAncillary"/>
  <xs:element name="ParticipationIndirectTarget" type="ParticipationIndirectTarget"/>
  <xs:element name="ParticipationInformationGenerator" type="ParticipationInformationGenerator"/>
  <xs:element name="ParticipationInformationRecipient" type="ParticipationInformationRecipient"/>
  <xs:element name="ParticipationPhysicalPerformer" type="ParticipationPhysicalPerformer"/>
  <xs:element name="ParticipationTargetDevice" type="ParticipationTargetDevice"/>
  <xs:element name="ParticipationTargetDirect" type="ParticipationTargetDirect"/>
  <xs:element name="ParticipationTargetLocation" type="ParticipationTargetLocation"/>
  <xs:element name="ParticipationTargetSubject" type="ParticipationTargetSubject"/>
  <xs:element name="ParticipationType" type="ParticipationType"/>
  <xs:element name="ParticipationVerifier" type="ParticipationVerifier"/>
  <xs:element name="PersonNamePartAffixTypes" type="PersonNamePartAffixTypes"/>
  <xs:element name="PersonNamePartChangeQualifier" type="PersonNamePartChangeQualifier"/>
  <xs:element name="PersonNamePartMiscQualifier" type="PersonNamePartMiscQualifier"/>
  <xs:element name="PersonNamePartQualifier" type="PersonNamePartQualifier"/>
  <xs:element name="PersonNameUse" type="PersonNameUse"/>
  <xs:element name="PostalAddressUse" type="PostalAddressUse"/>
  <xs:element name="ProbabilityDistributionType" type="ProbabilityDistributionType"/>
  <xs:element name="RelatedLinkType" type="RelatedLinkType"/>
  <xs:element name="RoleClass" type="RoleClass"/>
  <xs:element name="RoleClassAgent" type="RoleClassAgent"/>
  <xs:element name="RoleClassAssignedEntity" type="RoleClassAssignedEntity"/>
  <xs:element name="RoleClassAssociative" type="RoleClassAssociative"/>
  <xs:element name="RoleClassContact" type="RoleClassContact"/>
  <xs:element name="RoleClassDistributedMaterial" type="RoleClassDistributedMaterial"/>
  <xs:element name="RoleClassEmployee" type="RoleClassEmployee"/>
  <xs:element name="RoleClassInactiveIngredient" type="RoleClassInactiveIngredient"/>
  <xs:element name="RoleClassIngredientEntity" type="RoleClassIngredientEntity"/>
  <xs:element name="RoleClassInvestigationSubject" type="RoleClassInvestigationSubject"/>
  <xs:element name="RoleClassIsSpeciesEntity" type="RoleClassIsSpeciesEntity"/>
  <xs:element name="RoleClassLocatedEntity" type="RoleClassLocatedEntity"/>
  <xs:element name="RoleClassManufacturedProduct" type="RoleClassManufacturedProduct"/>
  <xs:element name="RoleClassMutualRelationship" type="RoleClassMutualRelationship"/>
  <xs:element name="RoleClassOntological" type="RoleClassOntological"/>
  <xs:element name="RoleClassPartitive" type="RoleClassPartitive"/>
  <xs:element name="RoleClassPassive" type="RoleClassPassive"/>
  <xs:element name="RoleClassRelationshipFormal" type="RoleClassRelationshipFormal"/>
  <xs:element name="RoleClassRoot" type="RoleClassRoot"/>
  <xs:element name="RoleClassServiceDeliveryLocation" type="RoleClassServiceDeliveryLocation"/>
  <xs:element name="RoleClassSpecimen" type="RoleClassSpecimen"/>
  <xs:element name="RoleLinkType" type="RoleLinkType"/>
  <xs:element name="SetOperator" type="SetOperator"/>
  <xs:element name="State" type="State"/>
  <xs:element name="StreetAddressLine" type="StreetAddressLine"/>
  <xs:element name="StreetName" type="StreetName"/>
  <xs:element name="TelecommunicationAddressUse" type="TelecommunicationAddressUse"/>
  <xs:element name="TemporallyPertains" type="TemporallyPertains"/>
  <xs:element name="TextMediaType" type="TextMediaType"/>
  <xs:element name="TimingEvent" type="TimingEvent"/>
  <xs:element name="URLScheme" type="URLScheme"/>
  <xs:element name="Unknown" type="Unknown"/>
  <xs:element name="VideoMediaType" type="VideoMediaType"/>
  <xs:element name="WorkPlaceAddressUse" type="WorkPlaceAddressUse"/>
  <xs:element name="hasSupport" type="hasSupport"/>
  <xs:element name="x_ActClassDocumentEntryAct" type="x_ActClassDocumentEntryAct"/>
  <xs:element name="x_ActClassDocumentEntryOrganizer" type="x_ActClassDocumentEntryOrganizer"/>
  <xs:element name="x_ActMoodDefEvn" type="x_ActMoodDefEvn"/>
  <xs:element name="x_ActMoodDefEvnRqoPrmsPrp" type="x_ActMoodDefEvnRqoPrmsPrp"/>
  <xs:element name="x_ActMoodDocumentObservation" type="x_ActMoodDocumentObservation"/>
  <xs:element name="x_ActMoodEvnOrdPrmsPrp" type="x_ActMoodEvnOrdPrmsPrp"/>
  <xs:element name="x_ActMoodIntentEvent" type="x_ActMoodIntentEvent"/>
  <xs:element name="x_ActMoodOrdPrms" type="x_ActMoodOrdPrms"/>
  <xs:element name="x_ActMoodOrdPrmsEvn" type="x_ActMoodOrdPrmsEvn"/>
  <xs:element name="x_ActMoodRqoPrpAptArq" type="x_ActMoodRqoPrpAptArq"/>
  <xs:element name="x_ActRelationshipDocument" type="x_ActRelationshipDocument"/>
  <xs:element name="x_ActRelationshipEntry" type="x_ActRelationshipEntry"/>
  <xs:element name="x_ActRelationshipEntryRelationship" type="x_ActRelationshipEntryRelationship"/>
  <xs:element name="x_ActRelationshipExternalReference" type="x_ActRelationshipExternalReference"/>
  <xs:element name="x_ActRelationshipPatientTransport" type="x_ActRelationshipPatientTransport"/>
  <xs:element name="x_ActRelationshipPertinentInfo" type="x_ActRelationshipPertinentInfo"/>
  <xs:element name="x_DeterminerInstanceKind" type="x_DeterminerInstanceKind"/>
  <xs:element name="x_DocumentActMood" type="x_DocumentActMood"/>
  <xs:element name="x_DocumentEncounterMood" type="x_DocumentEncounterMood"/>
  <xs:element name="x_DocumentEntrySubject" type="x_DocumentEntrySubject"/>
  <xs:element name="x_DocumentProcedureMood" type="x_DocumentProcedureMood"/>
  <xs:element name="x_DocumentSubject" type="x_DocumentSubject"/>
  <xs:element name="x_DocumentSubstanceMood" type="x_DocumentSubstanceMood"/>
  <xs:element name="x_EncounterParticipant" type="x_EncounterParticipant"/>
  <xs:element name="x_EncounterPerformerParticipation" type="x_EncounterPerformerParticipation"/>
  <xs:element name="x_EntityClassDocumentReceiving" type="x_EntityClassDocumentReceiving"/>
  <xs:element name="x_EntityClassPersonOrOrgReceiving" type="x_EntityClassPersonOrOrgReceiving"/>
  <xs:element name="x_InformationRecipient" type="x_InformationRecipient"/>
  <xs:element name="x_InformationRecipientRole" type="x_InformationRecipientRole"/>
  <xs:element name="x_OrganizationNamePartType" type="x_OrganizationNamePartType"/>
  <xs:element name="x_ParticipationAuthorPerformer" type="x_ParticipationAuthorPerformer"/>
  <xs:element name="x_ParticipationEntVrf" type="x_ParticipationEntVrf"/>
  <xs:element name="x_ParticipationPrfEntVrf" type="x_ParticipationPrfEntVrf"/>
  <xs:element name="x_ParticipationVrfRespSprfWit" type="x_ParticipationVrfRespSprfWit"/>
  <xs:element name="x_PersonNamePartType" type="x_PersonNamePartType"/>
  <xs:element name="x_RoleClassAccommodationRequestor" type="x_RoleClassAccommodationRequestor"/>
  <xs:element name="x_RoleClassCoverage" type="x_RoleClassCoverage"/>
  <xs:element name="x_RoleClassCoverageInvoice" type="x_RoleClassCoverageInvoice"/>
  <xs:element name="x_RoleClassCredentialedEntity" type="x_RoleClassCredentialedEntity"/>
  <xs:element name="x_RoleClassPayeePolicyRelationship" type="x_RoleClassPayeePolicyRelationship"/>
  <xs:element name="x_ServiceEventPerformer" type="x_ServiceEventPerformer"/>
  <!-- Additional Definitions from the September 2009 HL7 V3 ballot
   These are necessary for the use in CDA of the COCT_MT230100UV CMET
   for extended medication handling -->
  <xs:element name="ActClassInvoiceElement" type="ActClassInvoiceElement"/>
  <xs:element name="ActMoodDefinition" type="ActMoodDefinition"/>
  <xs:element name="ActMoodEventOccurrence" type="ActMoodEventOccurrence"/>
  <xs:element name="ActMoodGoal" type="ActMoodGoal"/>
  <xs:element name="EntityClassPublicInstitution" type="EntityClassPublicInstitution"/>
  <xs:element name="EntityClassState" type="EntityClassState"/>
  <xs:element name="EntityDeterminerSpecific" type="EntityDeterminerSpecific"/>
  <xs:element name="ParticipationAuthorOriginator" type="ParticipationAuthorOriginator"/>
  <xs:element name="ParticipationHolder" type="ParticipationHolder"/>
  <xs:element name="RoleClassAdministerableMaterial" type="RoleClassAdministerableMaterial"/>
  <xs:element name="RoleClassContent" type="RoleClassContent"/>
  <xs:element name="RoleClassPart" type="RoleClassPart"/>
  <xs:element name="RoleClassTerritoryOfAuthority" type="RoleClassTerritoryOfAuthority"/>
</xs:schema>
