modules/hl7/resources/hl7v3_2008/COCT_MT310000UV04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT310000UV04.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: COCT_MT310000UV04.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*     Package Id Conversion: $Id: COCT_MT310000UV04.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT240003UV02.xsd"/>
   <xs:complexType name="COCT_MT310000UV04.AccommodationRequested">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="author" type="COCT_MT310000UV04.Author"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.AccommodationRequestorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="accommodationRequestor" nillable="true" type="COCT_MT310000UV04.AcommodationRequestor"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="x_RoleClassAccommodationRequestor" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.AccomodationSupplied">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="reasonCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="location" type="COCT_MT310000UV04.Location"/>
         <xs:element maxOccurs="1" minOccurs="1" name="inFulfillmentOf" type="COCT_MT310000UV04.InFulfillmentOf"/>
         <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation1" nillable="true" type="COCT_MT310000UV04.PertinentInformation1"/>
         <xs:element maxOccurs="1" minOccurs="1" name="pertinentInformation2" type="COCT_MT310000UV04.PertinentInformation2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ACCM" name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.AcommodationRequestor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="name" type="PN"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="accommodationRequestorRole" type="COCT_MT310000UV04.AccommodationRequestorRole"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="pertinentInformation" type="COCT_MT310000UV04.PertinentInformation3"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ENC" name="classCode" type="ActClass" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="accommodationRequested" type="COCT_MT310000UV04.AccommodationRequested"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.MedicalService">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.MinimumAvailableAccommodation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CS"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="minimumAvailableAccommodation" nillable="true" type="COCT_MT310000UV04.MinimumAvailableAccommodation"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="encounter" type="COCT_MT310000UV04.Encounter"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT310000UV04.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="medicalService" type="COCT_MT310000UV04.MedicalService"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
</xs:schema>
