modules/hl7/resources/hl7v3_2008/COCT_MT060000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT060000UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: COCT_MT060000UV01.xsd,v 1.1 2010/05/19 16:35:24 fr20221 Exp $
*     Package Id Conversion: $Id: COCT_MT060000UV01.xsd,v 1.1 2010/05/19 16:35:24 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT070000UV01.xsd"/>
   <xs:complexType name="COCT_MT060000UV01.Entity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.Escort">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ESC" name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="locatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.RoleTransport">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="playingEntity" nillable="true" type="COCT_MT060000UV01.Entity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="roleTransport" nillable="true" type="COCT_MT060000UV01.RoleTransport"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT060000UV01.Transportation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT060000UV01.Subject"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT060000UV01.Performer"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="escort" nillable="true" type="COCT_MT060000UV01.Escort"/>
         <xs:element maxOccurs="2" minOccurs="0" name="location" nillable="true" type="COCT_MT060000UV01.Location"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="TRNS" name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>
</xs:schema>
