modules/hl7/resources/hl7v3_2008/COCT_MT080000UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT080000UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: COCT_MT080000UV.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*     Package Id Conversion: $Id: COCT_MT080000UV.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT070000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:complexType name="COCT_MT080000UV.ActRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Additive">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="1" name="additive" type="COCT_MT080000UV.AdditiveMaterial"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ADTV" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Additive2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="1" name="additive" type="COCT_MT080000UV.AdditiveMaterial"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ADTV" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.AdditiveMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.AuthorOrPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="noteText" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.AutomationSpecimenObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="value" type="ANY"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="SPCOBS" name="classCode" type="ActClass" use="optional"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Container">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="capacityQuantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="heightQuantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="diameterQuantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="capTypeCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="separatorTypeCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="barrierDeltaQuantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="bottomDeltaQuantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asIdentifiedContainer" nillable="true" type="COCT_MT080000UV.IdentifiedContainer"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content3"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Content1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="container" type="COCT_MT080000UV.Container"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Content3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="positionNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="1" name="containerHolder" type="COCT_MT080000UV.Holder"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Content4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="positionNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="1" name="containerHolder" type="COCT_MT080000UV.Holder"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="value" type="ANY"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="interpretationCode" type="CE"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asIdentifiedHolder" nillable="true" type="COCT_MT080000UV.IdentifiedHolder"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content4"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="HOLD" name="classCode" type="EntityClass" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.IdentifiedContainer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="IDENT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.IdentifiedHolder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute default="IDENT" name="classCode" type="RoleClass" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Manufactured">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="lotNumberText" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="expirationTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="asManufacturedProduct" nillable="true" type="COCT_MT080000UV.ManufacturedProduct"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content1"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="manufacturerOrganization" type="COCT_MT150000UV02.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Natural">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content1"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="administrativeGenderCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="organDonorInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="strainText" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="genderStatusCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content1"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="noteText" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute default="PRF" name="typeCode" type="ParticipationPhysicalPerformer" use="optional"/>
      <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="administrativeGenderCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="organDonorInd" type="BL"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="disabilityCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="raceCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicGroupCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT080000UV.Content1"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="priorityNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="conjunctionCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="criterion" nillable="true" type="COCT_MT080000UV.Criterion"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Process">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="approachSiteCode" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="targetSiteCode" type="CD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT080000UV.Performer"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.ProcessStep">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subject1" nillable="true" type="COCT_MT080000UV.Subject1"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subject2" nillable="true" type="COCT_MT080000UV.Subject2"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="authorOrPerformer" nillable="true" type="COCT_MT080000UV.AuthorOrPerformer"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="x_LabProcessClassCodes" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="process" nillable="true" type="COCT_MT080000UV.Process"/>
            <xs:element maxOccurs="1" minOccurs="1" name="actRef" nillable="true" type="COCT_MT080000UV.ActRef"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="specimenNatural" type="COCT_MT080000UV.Natural"/>
            <xs:element maxOccurs="1" minOccurs="1" name="specimenManufactured" type="COCT_MT080000UV.Manufactured"/>
            <xs:element maxOccurs="1" minOccurs="1" name="specimenNonPersonLivingSubject" type="COCT_MT080000UV.NonPersonLivingSubject"/>
            <xs:element maxOccurs="1" minOccurs="1" name="specimenPerson" type="COCT_MT080000UV.Person"/>
         </xs:choice>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="sourceNatural" nillable="true" type="COCT_MT080000UV.Natural"/>
            <xs:element maxOccurs="1" minOccurs="0" name="sourceManufactured" nillable="true" type="COCT_MT080000UV.Manufactured"/>
            <xs:element maxOccurs="1" minOccurs="0" name="sourceNonPersonLivingSubject" nillable="true" type="COCT_MT080000UV.NonPersonLivingSubject"/>
            <xs:element maxOccurs="1" minOccurs="0" name="sourcePerson" nillable="true" type="COCT_MT080000UV.Person"/>
         </xs:choice>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3"/>
         <xs:element maxOccurs="1" minOccurs="0" name="productOf" nillable="true" type="COCT_MT080000UV.Product"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.SpecimenAlternateIdentifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="assigningOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="IDENT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.SpecimenObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="value" type="ANY"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="OBS" name="classCode" type="ActClassObservation" use="optional"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.SpecimenStub">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="identifiedContainer" nillable="true" type="COCT_MT080000UV.IdentifiedContainer"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="identifiedHolder" nillable="true" type="COCT_MT080000UV.IdentifiedHolder"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute default="SBJ" name="typeCode" type="ParticipationTargetSubject" use="optional"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="processStep" nillable="true" type="COCT_MT080000UV.ProcessStep"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000UV.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="specimenObservationEvent" nillable="true" type="COCT_MT080000UV.SpecimenObservationEvent"/>
            <xs:element maxOccurs="1" minOccurs="1" name="automationSpecimenObservationEvent" nillable="true" type="COCT_MT080000UV.AutomationSpecimenObservationEvent"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
</xs:schema>
