modules/hl7/resources/hl7v3_2008/MCAI_MT900001UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type MCAI_MT900001UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  HTML To MIF markup: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Flat to Serialization Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Fix Names Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*     Package Id Conversion: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  HTML To MIF markup: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Flat to Serialization Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Fix Names Transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCAI_MT900001UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="MCAI_MT900001UV01.ActOrderRequired">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="MCAI_MT900001UV01.Subject"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.DetectedIssueEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="value" type="ANY"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="mitigatedBy" nillable="true" type="MCAI_MT900001UV01.SourceOf"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="triggerFor" nillable="true" type="MCAI_MT900001UV01.Requires"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="ALRT" name="classCode" type="ActClass" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.DetectedIssueManagement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodDefEvn" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Requires">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="actOrderRequired" nillable="true" type="MCAI_MT900001UV01.ActOrderRequired"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="TRIG" name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="detectedIssueManagement" nillable="true" type="MCAI_MT900001UV01.DetectedIssueManagement"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipMitigates" use="required"/>
      <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="role" nillable="true" type="MCAI_MT900001UV01.Role"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
</xs:schema>
