modules/hl7/resources/hl7v3_2008/MCCI_MT000200UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type MCCI_MT000200UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  HTML To MIF markup: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Flat to Serialization Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Fix Names Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*     Package Id Conversion: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  HTML To MIF markup: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Flat to Serialization Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
 Fix Names Transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Base transform: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
  Package Id Conversion: $Id: MCCI_MT000200UV01.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT040203UV01.xsd"/>
   <xs:complexType name="MCCI_MT000200UV01.Acknowledgement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="typeCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="expectedSequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="messageWaitingNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="messageWaitingPriorityCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="1" name="targetMessage" nillable="true" type="MCCI_MT000200UV01.TargetMessage"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="acknowledgementDetail" nillable="true" type="MCCI_MT000200UV01.AcknowledgementDetail"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.AcknowledgementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="text" type="ED"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="location" type="ST"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="AcknowledgementDetailType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Agent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="representedOrganization" nillable="true" type="MCCI_MT000200UV01.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAgent" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.AttentionLine">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="keyWordText" type="SC"/>
         <xs:element maxOccurs="1" minOccurs="0" name="value" type="ANY"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="manufacturerModelName" type="SC"/>
         <xs:element maxOccurs="1" minOccurs="0" name="softwareName" type="SC"/>
         <xs:element maxOccurs="1" minOccurs="0" name="asAgent" nillable="true" type="MCCI_MT000200UV01.Agent"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asLocatedEntity" nillable="true" type="MCCI_MT000200UV01.LocatedEntity"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.EntityRsp">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.LocatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="location" nillable="true" type="MCCI_MT000200UV01.Place"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Message">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="creationTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="securityText" type="ST"/>
         <xs:element maxOccurs="1" minOccurs="0" name="versionCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="interactionId" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="profileId" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="processingCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="processingModeCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="acceptAckCode" type="CS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="attachmentText" type="ED"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="receiver" type="MCCI_MT000200UV01.Receiver"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="respondTo" nillable="true" type="MCCI_MT000200UV01.RespondTo"/>
         <xs:element maxOccurs="1" minOccurs="1" name="sender" type="MCCI_MT000200UV01.Sender"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="attentionLine" nillable="true" type="MCCI_MT000200UV01.AttentionLine"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="acknowledgement" nillable="true" type="MCCI_MT000200UV01.Acknowledgement"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="notificationParty" nillable="true" type="COCT_MT040203UV01.NotificationParty"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Receiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="1" name="device" type="MCCI_MT000200UV01.Device"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.RespondTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="entityRsp" nillable="true" type="MCCI_MT000200UV01.EntityRsp"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.Sender">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="1" name="device" type="MCCI_MT000200UV01.Device"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCCI_MT000200UV01.TargetMessage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="id" type="II"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
</xs:schema>
