modules/hl7/resources/hl7v3_2008/PRPA_MT201301UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT201301UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: PRPA_MT201301UV02.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*     Package Id Conversion: $Id: PRPA_MT201301UV02.xsd,v 1.1 2010/05/19 16:35:23 fr20221 Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
  <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT820000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT030007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT030207UV.xsd"/>
   <xs:include schemaLocation="COCT_MT710007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT960000UV05.xsd"/>
   <xs:include schemaLocation="COCT_MT670000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT510000UV06.xsd"/>
   <xs:complexType name="PRPA_MT201301UV02.AdministrativeObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="value" type="ANY"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.BirthPlace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthplace" nillable="true" type="COCT_MT710007UV.Place"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf" nillable="true" type="PRPA_MT201301UV02.Subject2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.CareGiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="careGiverPerson" nillable="true" type="COCT_MT030207UV.Person"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="CAREGIVER" name="classCode" type="RoleClass" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="politicalNation" type="PRPA_MT201301UV02.Nation"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="CIT" name="classCode" type="RoleClass" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="contactPerson" nillable="true" type="COCT_MT030207UV.Person"/>
            <xs:element maxOccurs="1" minOccurs="1" name="contactOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.CoveredParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="time" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="coverageRecord" nillable="true" type="COCT_MT510000UV06.CoverageRecord"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="COV" name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Employee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="jobTitleName" type="SC"/>
         <xs:element maxOccurs="1" minOccurs="0" name="jobClassCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="occupationCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="1" name="employerOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Group">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="addr" type="AD"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Guardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="certificateText" type="ED"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="guardianPerson" nillable="true" type="COCT_MT030207UV.Person"/>
            <xs:element maxOccurs="1" minOccurs="1" name="guardianOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="GUARD" name="classCode" type="RoleClass" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="languageCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="modeCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="proficiencyLevelCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="preferenceInd" type="BL"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="group" nillable="true" type="PRPA_MT201301UV02.Group"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="MBR" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Nation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="name" type="ON"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="NAT" name="classCode" type="EntityClass" use="optional"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="existenceTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="riskCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="handlingCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="administrativeGenderCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="organDonorInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="strainText" type="ED"/>
         <xs:element maxOccurs="1" minOccurs="0" name="genderStatusCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201301UV02.PatientOfOtherProvider"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="PRPA_MT201301UV02.Member"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="PRPA_MT201301UV02.OtherIDs"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="PRPA_MT201301UV02.ContactParty"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="PRPA_MT201301UV02.Guardian"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="personalRelationship" nillable="true" type="PRPA_MT201301UV02.PersonalRelationship"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="careGiver" nillable="true" type="PRPA_MT201301UV02.CareGiver"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthPlace" nillable="true" type="PRPA_MT201301UV02.BirthPlace"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantorRole" nillable="true" type="COCT_MT670000UV04.GuarantorRole"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="1" name="scopingOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="1" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="veryImportantPersonCode" type="CE"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="patientPerson" nillable="true" type="PRPA_MT201301UV02.Person"/>
            <xs:element maxOccurs="1" minOccurs="1" name="patientNonPersonLivingSubject" nillable="true" type="PRPA_MT201301UV02.NonPersonLivingSubject"/>
         </xs:choice>
         <xs:element maxOccurs="1" minOccurs="1" name="providerOrganization" nillable="true" type="COCT_MT150003UV03.Organization"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf" nillable="true" type="PRPA_MT201301UV02.Subject4"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="coveredPartyOf" nillable="true" type="PRPA_MT201301UV02.CoveredParty"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.PatientOfOtherProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="subjectOf" type="PRPA_MT201301UV02.Subject3"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="1" name="name" type="PN"/>
         <xs:element maxOccurs="1" minOccurs="0" name="desc" type="ED"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="administrativeGenderCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="deceasedTime" type="TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthInd" type="BL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
         <xs:element maxOccurs="1" minOccurs="0" name="organDonorInd" type="BL"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="1" minOccurs="0" name="maritalStatusCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="educationLevelCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="disabilityCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="livingArrangementCode" type="CE"/>
         <xs:element maxOccurs="1" minOccurs="0" name="religiousAffiliationCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="raceCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicGroupCode" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201301UV02.PatientOfOtherProvider"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asEmployee" nillable="true" type="PRPA_MT201301UV02.Employee"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asCitizen" nillable="true" type="PRPA_MT201301UV02.Citizen"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asStudent" nillable="true" type="PRPA_MT201301UV02.Student"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="PRPA_MT201301UV02.Member"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="PRPA_MT201301UV02.OtherIDs"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="PRPA_MT201301UV02.ContactParty"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="PRPA_MT201301UV02.Guardian"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="personalRelationship" nillable="true" type="PRPA_MT201301UV02.PersonalRelationship"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="careGiver" nillable="true" type="PRPA_MT201301UV02.CareGiver"/>
         <xs:element maxOccurs="1" minOccurs="0" name="birthPlace" nillable="true" type="PRPA_MT201301UV02.BirthPlace"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantorRole" nillable="true" type="COCT_MT670000UV04.GuarantorRole"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="languageCommunication" nillable="true" type="PRPA_MT201301UV02.LanguageCommunication"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
      <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="1" minOccurs="1" name="code" type="CE"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="relationshipHolder1" nillable="true" type="COCT_MT030007UV.Person"/>
            <xs:element maxOccurs="1" minOccurs="1" name="relationshipHolder2" nillable="true" type="COCT_MT030007UV.NonPersonLivingSubject"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="PRS" name="classCode" type="RoleClass" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
         <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="CS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="effectiveTime" type="IVL_TS"/>
         <xs:element maxOccurs="1" minOccurs="0" name="schoolOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute fixed="STD" name="classCode" type="RoleClass" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="position" nillable="true" type="COCT_MT960000UV05.Position"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="careProvision" type="COCT_MT820000UV.CareProvision"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201301UV02.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element maxOccurs="1" minOccurs="1" name="administrativeObservation" nillable="true" type="PRPA_MT201301UV02.AdministrativeObservation"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute default="SBJ" name="typeCode" type="ParticipationTargetSubject" use="optional"/>
   </xs:complexType>
</xs:schema>
